body{
  position: absolute;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
}


#lightgallery{
  height: 100vh;
  max-height: 100vh;
}

.img-resp{
 display: inline;
 max-height: 100vh;
}

/*Loader gif*/
.se-pre-con {
   position: fixed;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background: url('../img/preloader.gif') center no-repeat #fff;
}
