no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/ring-grey.gif) center no-repeat #fff;
  color: white;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 FONT
*/
.AvenirLTStd-Heavy {
	font-family: AvenirLTStd-Heavy;
	font-weight: normal !important;
	font-style: normal;
	-webkit-font-smoothing: subpixel-antialiased !important;
}

body{
  position: absolute;

  font-family: 'AvenirLTStd-Heavy', sans-serif;
  color: white;
  font-size: 16px;
  line-height: 1.45;
  text-align: left;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;

	-webkit-font-smoothing: subpixel-antialiased;
}

button {
  border: none;
  padding: 0.6em 1.2em;
  background: #c0392b;
  color: #fff;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 3px 2px;
  border-radius: 2px;
}

a, button {
  outline: none;
  cursor: pointer !important;
  text-decoration: none;
  color: inherit;
}

#lightgallery{
  position: relative;
  height: 100vh;
  max-height: 100vh;
	width: auto;
  white-space: nowrap;
}

.gallery-cell {
  height: 100%;
	width: auto;
}

.img-resp{
  width: auto;
  margin-left: -10px;
  padding: 0px;
	height: 100%;
}

.textgallery div{
  display: none;
}

.textgallery{
  position: absolute;
  z-index: 10;
	top: 25vh;
	margin: 0 auto;
	left: 0;
	right: 0;
  word-wrap: normal;
	max-width: 68.75vh;
}

.plans {
	position: absolute;
	z-index: 10;
	top: 55.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

  user-drag: none;
  user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

.overlay-img{
	display: none;
	width: 100%;
	height: auto;
	margin: 0px;
	max-width: 90vw;
}

.lazyload,
.lazyloading {
  opacity: 0.3;
}
.lazyloaded {
  opacity: 1;
	-moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}


/****************** HEADER ********************/
header {
  position: absolute;
  text-align: center;
  z-index: 10;
  top: 2%;
  left: 20%;
  right: 20%;
}

.logo a {
  display: inline-block;
  margin-left: 0 auto;
  margin-right: 0 auto;
  text-align: center;

  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  padding: 0px;
  max-width: 100%;
}

.more-button {
  display: inline-block;
  position: relative;
  text-align: center;

  width: 10px;
  height: 10px;
  border-radius: 50%;
	border-color: transparent;
  background: white;

  padding: 0px;
  margin-top: 0px;
  cursor: pointer;

}

/*Animate title on opening*/
.logo, .more-button {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


/************* ABOUT page ******************************/
body.about-page{
  background-color: white;
  color: black;
  width: 100%;
  position: absolute;
}

.about-page div.info-box {
  position: relative;

  display: flex;
  flex-direction: row;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  -webkit-flex-wrap: nowrap; /* Safari 6.1+ */
  flex-wrap: nowrap;

  top: 25vh;
  width: 100%;
  height: 86%;
  overflow-y: hidden;
  overflow-x: visible;

}

div.info-box .paragraph {
  min-width: 34%;
  margin-right: 9em;
	overflow-y: hidden;
}

.about-page i {
	font-style: italic;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

td:nth-child(1) {
    width: 18%;
}

.about-page h4 {
	margin-bottom: 10px;
}

div.info-box > .paragraph:first-of-type {
  margin-left: calc(50vw + -150px);
}
div.info-box > .paragraph:last-of-type {
  margin-right: 20px;
}

address {
  display: block;
}

/****************** MOBILE 500px **********************/

@media screen and (max-width: 500px), screen and (max-height: 400px) {
  body { font-size: 78%; }

  header, div.textgallery {
    left: 6%;
    right: 6%;
		transform: none;
		max-width: 90vw;
  }

	.plans{
		max-height: 85vh;
		width: 90vw;
		top: 55%;
	}

  .textgallery div{
    overflow-y: auto;
  }

  .more-button {
    width: 12px;
    height: 12px;
  }

	.logo a{
		line-height: normal;
		margin-bottom: 5px;
	}

	div.info-box .paragraph {
	  min-width: 300px;
	}
}

/** lazysizes fix **/
img[data-sizes="auto"] { display: block;}
.lazyload,
.lazyloading {
    min-height: 200px;
}
