body{
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
}

.container{
    overflow:hidden;
    overflow-x:scroll;
}

#lightgallery{
  height: 100vh;
  max-height: 100vh;
}

.img-resp{
 display: inline;
 height: 100%;
 width: auto;
 background: url('../img/preloader.gif') center no-repeat #fff;
}

.left-arr,.right-arr{
  position: absolute;
  height:10px;
  width:10px;
  top:95px;
  cursor:pointer;
}
.left-arr{ left:15px;}
.right-arr{ right:15px;}
